*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 1200px), ((min-width: 991.99px) and (max-width: 1199.9px)) {
  body {
    background: url(../images/decore.png) right top no-repeat;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 740px;
  }
}
@media screen and (min-width: 481px) and (max-width: 767.98px) {
  .container {
    max-width: 420px;
  }
}
@media screen and ((min-width: 320px) and (max-width: 480.98px)), (max-width: 319.98px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
@font-face {
  font-family: "Volkhov";
  src: url("../fonts/Volkhov-Bold.eot");
  src: url("../fonts/Volkhov-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Volkhov-Bold.woff2") format("woff2"), url("../fonts/Volkhov-Bold.woff") format("woff"), url("../fonts/Volkhov-Bold.svg#Volkhov-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Google Sans";
  src: url("../fonts/GoogleSans-Medium.eot");
  src: url("../fonts/GoogleSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GoogleSans-Medium.woff2") format("woff2"), url("../fonts/GoogleSans-Medium.woff") format("woff"), url("../fonts/GoogleSans-Medium.svg#GoogleSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.testimonials__title h2, .instructions__wrapper h2, .destinations__wrapper h2, .category__wrapper h2 {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 3.125em;
  line-height: 64px;
  text-align: center;
  text-transform: capitalize;
  color: #14183E;
}

.subscription__button, .subscription__form__inputs__submit {
  border: none;
  border-radius: 10px;
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  padding: 25px 50px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.0625em;
  line-height: 23px;
  color: #FFFFFF;
  cursor: pointer;
}

@keyframes flyAnimation {
  from {
    transform: translate(-30%, -60%) rotate(0deg);
  }
  25% {
    transform: translate(240%, -200%);
  }
  50% {
    transform: translate(340%, -300%);
  }
  75% {
    transform: translate(-460%, -300%) rotate(-270deg);
  }
  to {
    transform: translate(-30%, -60%) rotate(-360deg);
  }
}
.header {
  font-family: "Google Sans";
  padding: 37px 0;
}
.header__wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, 1fr 3fr 2fr);
}
.header nav {
  justify-self: center;
}
.header nav ul {
  display: flex;
  align-items: center;
}
.header nav ul li a {
  text-decoration: none;
  color: #212832;
  font-size: 1.0625em;
  display: block;
  transition: transform 0.3s, color 0.3s;
}
.header nav ul li a:hover {
  transform: scale(1.2);
  color: #737373;
}
.header__pages-nav__menu {
  gap: 50px;
}
.header__user-nav #menu {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
.header__user-nav__menu {
  gap: 45px;
  padding: 10px 0;
}
.header__user-nav__menu li a {
  font-weight: 500;
}
.header__user-nav__menu .lang {
  text-transform: uppercase;
}
.header__user-nav__menu .lang::after {
  content: url(../icons/arrow.svg);
  padding-left: 6.5px;
}
.header__user-nav__menu .login-buttons {
  display: flex;
}
.header__user-nav__menu .login-buttons__auth {
  display: flex;
  align-items: center;
  gap: 45px;
}
.header__user-nav__menu .login-buttons label {
  display: none;
}
.header__user-nav__menu .sign-up {
  padding: 10px 20px;
  border: 1px solid #212832;
  border-radius: 5px;
  transition: all 0.3s;
}
.header__user-nav__menu .sign-up:hover {
  border: 1px solid #737373;
  color: #737373;
}
.header__user-nav__menu .dropdown-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.header__user-nav__menu .dropdown-menu .dropdown-items {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
.header__user-nav__menu .dropdown-menu:hover .dropdown-items {
  display: block;
  background-color: #FFF1DA;
}
.header__user-nav__menu .dropdown-menu:hover .dropdown-items li {
  text-align: center;
  padding: 3px 8px;
}
.header__user-nav__menu .dropdown-menu:hover .dropdown-items li:hover {
  background-color: #FFFFFF;
}

@media screen and (max-width: 991.98px) {
  .header {
    padding: 37px 0 45px;
    background-color: #FFF1DA;
  }
  .header__wrapper {
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    grid-template-rows: repeat(1, 1fr 2fr);
  }
  .header__logo {
    justify-self: center;
    align-self: start;
    margin: 10px 0 0;
  }
  .header__pages-nav {
    grid-area: 2/2/3/3;
  }
  .header__pages-nav__menu {
    flex-direction: column;
    text-align: center;
  }
  .header__pages-nav__menu li a:first-child {
    font-size: 1.875em;
    color: #737373;
  }
  .header__user-nav {
    grid-column: 3;
    justify-self: center;
    align-self: start;
    padding: 7px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .header__user-nav__menu {
    flex-direction: row-reverse;
    gap: 10px;
  }
  .header__user-nav__menu .login-buttons {
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    gap: 90px;
    width: 100%;
    padding: 30px 0;
    border: 1px #737373 solid;
    background-color: #d4c8b5;
    border-radius: 5px;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
  }
  .header__user-nav__menu .login-buttons label {
    display: block;
    font-size: 0.875em;
  }
  .header #menu:checked ~ .login-buttons {
    transform: translateY(0);
  }
  .header__burger-menu {
    position: relative;
    width: 30px;
    height: 30px;
  }
  .header__burger-menu span {
    width: 15px;
    height: 2px;
    position: absolute;
    top: 15px;
    left: calc(100% - 7.5px);
    transform: translate(-50%, -50%);
    background-color: #737373;
  }
  .header__burger-menu span:nth-of-type(2) {
    top: 10px;
    left: calc(100% - 11px);
    width: 22px;
  }
  .header__burger-menu span:nth-of-type(3) {
    top: 20px;
    left: calc(100% - 3.5px);
    width: 7px;
  }
}
@media screen and ((min-width: 320px) and (max-width: 480.98px)), (max-width: 319.98px) {
  .header__wrapper {
    grid-template-columns: repeat(1, 1fr 1fr 1fr 1fr 1fr);
    grid-template-rows: repeat(1, 1fr 2fr);
  }
  .header__logo {
    grid-column: 1/3;
  }
  .header__pages-nav {
    grid-area: 3/2/5/5;
  }
  .header__user-nav {
    grid-column: 4/6;
  }
  .header__user-nav__menu .login-buttons {
    gap: 50px;
  }
}
.intro {
  margin-bottom: 130px;
}
.intro .mobile-crosses {
  display: none;
  position: absolute;
  top: 75%;
  right: 0;
  z-index: -1;
}
.intro__wrapper {
  background: url(../images/traveller.png) right/contain no-repeat;
  display: flex;
  padding: 110px 0 90px;
}
.intro__info {
  flex-basis: 50%;
}
.intro__info h3 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.25em;
  line-height: 30px;
  text-transform: uppercase;
  color: #DF6951;
}
.intro__info h1 {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 5.25em;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181E4B;
  margin: 30px 0 25px;
}
.intro__info p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1em;
  color: #5E6282;
  line-height: 30px;
  width: 78%;
}
.intro__info__buttons {
  margin: 50px 0 0;
  display: flex;
  align-items: center;
  gap: 35px;
}
.intro__info__buttons a {
  background-color: #F1A501;
  border-radius: 10px;
  padding: 18px 26px;
  border: 1px #F1A501 solid;
  font-family: "Google Sans";
  font-weight: 500;
  font-size: 1.125em;
  line-height: 23px;
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
}
.intro__info__buttons a:hover {
  color: #F1A501;
  background-color: #FFFFFF;
}
.intro__info__buttons__demo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.intro__info__buttons__demo .player {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #DF6951;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.intro__info__buttons__demo .player::after {
  content: "Play Demo";
  position: absolute;
  white-space: nowrap;
  left: 70px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.0625em;
  line-height: 26px;
  color: #686D77;
}
.intro__image .plane {
  position: absolute;
}
.intro__image .moving-plane {
  left: 50%;
  transform: translate(-30%, -60%);
}
.intro__image .moving-plane:hover {
  animation: flyAnimation linear 3s 1;
}
.intro__image .static-plane {
  z-index: -1;
  right: 5%;
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .intro__image .moving-plane {
    left: 46%;
  }
}
@media screen and (max-width: 991.98px) {
  .intro {
    position: relative;
  }
  .intro .mobile-crosses {
    display: block;
  }
  .intro__wrapper {
    background: none;
    padding: 30px 0 0;
  }
  .intro__info {
    flex-basis: 100%;
  }
  .intro__info h3 {
    display: none;
  }
  .intro__info h1 {
    margin: 110px 20px 25px;
    font-size: 3em;
    line-height: 89px;
    letter-spacing: -0.04em;
  }
  .intro__info p {
    display: none;
  }
  .intro__info__buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .intro__info__buttons__demo .player {
    margin-right: 125px;
  }
  .intro__image .moving-plane {
    display: none;
  }
  .intro__image .static-plane {
    z-index: -1;
    left: 0;
  }
}
.category {
  margin-bottom: 120px;
  position: relative;
}
.category .crosses {
  position: absolute;
  right: 0;
}
.category__wrapper {
  text-align: center;
}
.category__wrapper h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.125em;
  line-height: 27px;
  color: #5E6282;
  text-transform: uppercase;
}
.category__wrapper h2 {
  margin: 10px 0 65px;
}
.category__wrapper a {
  display: none;
}
.category__categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
}
.category__card {
  grid-row: 1/3;
  padding: 0 20px 25px;
  box-shadow: none;
  border-radius: 36px;
  display: grid;
  grid-template-rows: repeat(1, 1fr 1fr);
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.1s, background-color 0.1s;
}
.category__card::after {
  content: "";
  opacity: 0;
  width: 100px;
  height: 100px;
  background-color: #DF6951;
  border-radius: 30px 0px 10px;
  position: absolute;
  top: calc(100% - 70px);
  right: calc(100% - 70px);
  z-index: -1;
}
.category__card:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 65px 47px rgba(0, 0, 0, 0.015);
}
.category__card:hover::after {
  opacity: 1;
  transition: opacity 0.2s;
}
.category__card::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #FFF1DA;
  border-radius: 18px 5px 10px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: rotate(180deg);
}
.category__card:nth-child(2)::before {
  top: 10%;
  left: 30%;
  transform: rotate(90deg);
}
.category__card:nth-child(3)::before {
  top: 10%;
  left: 50%;
  transform: rotate(90deg);
}
.category__card:nth-child(4)::before {
  top: 20%;
  left: 50%;
  transform: rotate(270deg);
}
.category__card__image {
  align-self: center;
  position: relative;
}
.category__card h3 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1, 25em;
  line-height: 27px;
  color: #1E1D4C;
  margin-bottom: 15px;
}
.category__card p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1em;
  color: #5E6282;
  line-height: 26px;
}

@media screen and (max-width: 991.98px) {
  .category .crosses {
    display: none;
  }
  .category__wrapper h4 {
    font-size: 1.25em;
  }
  .category__wrapper h2 {
    margin: 20px 0 15px;
    font-size: 2.5em;
  }
  .category__wrapper a {
    display: inline;
    font-family: "Poppins";
    font-size: 1.25em;
    line-height: 45px;
    letter-spacing: 0.2px;
    color: #737373;
    text-decoration: none;
  }
  .category__categories {
    gap: 10px 0;
    margin-top: 10px;
  }
  .category__card {
    grid-row: 1/3;
  }
  .category__card:nth-child(n+1) {
    grid-column: 2/4;
  }
  .category__card:nth-child(1) {
    grid-row: 1/2;
  }
  .category__card:nth-child(2) {
    grid-row: 3/4;
  }
  .category__card:nth-child(3) {
    grid-row: 5/6;
    display: none;
  }
  .category__card:nth-child(4) {
    grid-row: 7/8;
    display: none;
  }
  .category__card:nth-child(2)::before {
    top: 13%;
    left: 35%;
    transform: rotate(270deg);
  }
  .category__card:nth-child(3)::before {
    top: 15%;
    left: 50%;
  }
  .category__card:nth-child(4)::before {
    top: 20%;
    left: 50%;
  }
}
@media screen and ((min-width: 320px) and (max-width: 480.98px)), (max-width: 319.98px) {
  .category__card {
    padding: 0 10px 15px;
  }
}
.destinations {
  margin-bottom: 185px;
  position: relative;
}
.destinations .mobile-crosses {
  display: none;
  position: absolute;
  z-index: 1;
}
.destinations .bottom-crosses {
  top: 96%;
  z-index: -1;
}
.destinations__wrapper {
  position: relative;
}
.destinations__wrapper h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.125em;
  line-height: 27px;
  color: #5E6282;
  text-transform: capitalize;
  text-align: center;
}
.destinations__wrapper h2 {
  margin-bottom: 60px;
}
.destinations__wrapper .decore {
  position: absolute;
  top: 40%;
  left: 90%;
  z-index: -1;
}
.destinations__cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  position: relative;
}
.destinations__cards__card {
  border-radius: 24px;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02));
  cursor: pointer;
  transition: transform 0.3s, filter 0.3s;
}
.destinations__cards__card:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px 0px 23px #0F37A3);
}
.destinations__cards__card__image {
  position: relative;
}
.destinations__cards__card__info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
  padding: 30px 20px 40px 25px;
  border-radius: 0 0 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.destinations__cards__card__info p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.125em;
  color: #5E6282;
  line-height: 124.5%;
}
.destinations__cards__card__info .place-price {
  display: flex;
  justify-content: space-between;
}
.destinations__cards__card__info .days {
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 15px;
}
.destinations__cards__card__info .days::before {
  content: url(../icons/trip-arrow.svg);
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .destinations {
    margin-bottom: 160px;
  }
  .destinations__wrapper h2 {
    margin-bottom: 20px;
  }
  .destinations__wrapper .decore {
    left: 90%;
  }
  .destinations__cards {
    justify-content: center;
    gap: 0;
  }
  .destinations__cards__card {
    transform: scale(0.8);
  }
  .destinations__cards__card:hover {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 991.98px) {
  .destinations {
    margin-bottom: 80px;
  }
  .destinations .mobile-crosses {
    display: block;
  }
  .destinations__wrapper {
    position: relative;
    padding-top: 18px;
  }
  .destinations__wrapper h4 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
  }
  .destinations__wrapper h2 {
    font-size: 2.5em;
    margin: 0 auto 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    line-height: 51.6px;
  }
  .destinations__wrapper .decore {
    display: none;
  }
  .destinations__cards {
    flex-direction: column;
    align-items: center;
    gap: 75px;
  }
}
@media screen and ((min-width: 320px) and (max-width: 480.98px)), (max-width: 480.98px) {
  .destinations__cards__card {
    transform: scale(0.95);
  }
  .destinations__cards__card:hover {
    transform: scale(1);
  }
}
.instructions {
  margin-bottom: 200px;
  position: relative;
}
.instructions .mobile-crosses {
  display: none;
  position: absolute;
  top: 89%;
  right: 0;
  z-index: 1;
}
.instructions__wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
  position: relative;
}
.instructions__wrapper h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.125em;
  line-height: 27px;
  color: #5E6282;
  text-transform: none;
}
.instructions__wrapper h2 {
  text-align: left;
  margin: 15px 0 30px;
}
.instructions__info {
  width: 45%;
}
.instructions__info__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.instructions__info__list__item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.instructions__info__list__item .text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1em;
  line-height: 124.5%;
  color: #5E6282;
}
.instructions__info__list__item .text h5 {
  font-weight: 700;
}
.instructions__info__list__item .text p {
  width: 80%;
}
.instructions__card {
  padding: 20px 25px 30px;
  background-color: #FFFFFF;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(65px -72px 75px rgba(89, 177, 230, 0.4));
  border-radius: 26px;
  align-self: flex-end;
  position: relative;
}
.instructions__card__travel-photo {
  border-radius: 24px;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.instructions__card h5 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.125em;
  color: #5E6282;
  line-height: 124.5%;
  letter-spacing: 0.015em;
  color: #080809;
  margin: 25px 0 15px;
}
.instructions__card__info {
  display: flex;
  gap: 15px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1em;
  line-height: 124.5%;
  letter-spacing: -0.005em;
  color: #84829A;
}
.instructions__card__icons {
  display: flex;
  gap: 18px;
  margin: 20px 0 30px;
}
.instructions__card__icons__icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instructions__card__mark {
  display: flex;
  justify-content: space-between;
}
.instructions__card__mark p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1em;
  color: #5E6282;
  line-height: 124.5%;
  letter-spacing: -0.02em;
  color: #84829A;
}
.instructions__card__mark p::before {
  content: url(../icons/skyscraper.svg);
  padding-right: 15px;
}
.instructions__card__mark img {
  cursor: pointer;
}
.instructions__progress {
  position: absolute;
  top: 60%;
  left: 75%;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481);
  border-radius: 18px;
  padding: 15px 25px 20px;
  display: flex;
  gap: 12px;
}
.instructions__progress__info p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1em;
  color: #5E6282;
  line-height: 124.5%;
  letter-spacing: -0.02em;
  color: #84829A;
}
.instructions__progress__info h5 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.125em;
  color: #5E6282;
  margin: 6px 0 14px;
}
.instructions__progress__info__info {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.875em;
  color: #5E6282;
  line-height: 124.5%;
  letter-spacing: -0.055em;
  color: #080809;
}
.instructions__progress__info__info span {
  color: #8A79DF;
}
.instructions__progress__info div {
  height: 5px;
  border-radius: 30px;
}
.instructions__progress__info__bar {
  margin-top: 10px;
  background-color: #F5F5F5;
  width: 155px;
}
.instructions__progress__info__bar__progressed {
  width: 40%;
  background-color: #8A79DF;
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .instructions__wrapper {
    gap: 20px;
  }
  .instructions__progress {
    top: 70%;
    left: 70%;
  }
}
@media screen and (max-width: 991.98px) {
  .instructions .mobile-crosses {
    display: block;
  }
  .instructions__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .instructions__wrapper h2 {
    text-align: center;
  }
  .instructions__wrapper h4 {
    display: none;
  }
  .instructions__info {
    width: 100%;
  }
  .instructions__info__list .text p {
    width: 100%;
  }
  .instructions__card {
    align-self: center;
    padding: 15px 20px 30px;
  }
  .instructions__progress {
    display: none;
  }
}
@media screen and ((min-width: 320px) and (max-width: 480.98px)), (max-width: 480.98px) {
  .instructions__card {
    transform: scale(0.8);
  }
}
.testimonials {
  margin-bottom: 175px;
}
.testimonials__wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.testimonials__title {
  max-width: 40%;
  display: flex;
  flex-direction: column;
}
.testimonials__title h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.125em;
  line-height: 27px;
  color: #5E6282;
  text-transform: uppercase;
}
.testimonials__title h2 {
  text-align: left;
}
.testimonials__content {
  display: flex;
  flex-direction: column;
  max-width: 41%;
  padding: 50px 60px 25px 25px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481);
  border-radius: 10px;
  position: relative;
}
.testimonials__content p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1em;
  color: #5E6282;
  line-height: 32px;
}
.testimonials__content__author {
  margin-top: 35px;
}
.testimonials__content__author h5 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.125em;
  line-height: 27px;
  color: #5E6282;
  text-transform: none;
}
.testimonials__content__author p {
  font-size: 0.875em;
}
.testimonials__content::before {
  content: url(../images/man.png);
  position: absolute;
  bottom: calc(100% - 65px);
  right: calc(100% - 20px);
}

@media screen and (max-width: 991.98px) {
  .testimonials__wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0 27px;
  }
  .testimonials__title {
    max-width: 100%;
  }
  .testimonials__title h2 {
    margin: 25px 0 80px;
  }
  .testimonials__title > h2, .testimonials h4 {
    text-align: center;
  }
  .testimonials__content {
    max-width: 100%;
  }
  .testimonials__content__author {
    text-align: center;
  }
  .testimonials__content::before {
    bottom: calc(100% - 50px);
    right: calc(50% - 20px);
  }
}
@media screen and ((min-width: 320px) and (max-width: 480.98px)), (max-width: 480.98px) {
  .testimonials__content {
    padding: 20px 5px 15px;
  }
  .testimonials__content::before {
    bottom: calc(100% - 30px);
    right: calc(50% - 20px);
  }
}
.subscription {
  position: relative;
  margin-bottom: 160px;
}
.subscription .crosses {
  position: absolute;
  top: 84%;
  right: 0;
}
.subscription__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscription__wrapper h4 {
  display: none;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.125em;
  line-height: 27px;
  color: #5E6282;
  text-transform: uppercase;
}
.subscription__logos {
  margin-bottom: 110px;
}
.subscription__logos__list {
  display: flex;
  justify-content: center;
  height: 90px;
}
.subscription__logos__list__item {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0 40px;
  transition: box-shadow 0.3s;
}
.subscription__logos__list__item img {
  filter: grayscale(1);
  transition: filter 0.3s;
}
.subscription__logos__list__item:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481);
}
.subscription__logos__list__item:hover img {
  filter: grayscale(0);
}
.subscription__form {
  position: relative;
  padding: 80px 155px;
  background-color: rgba(223, 215, 249, 0.2);
  border-radius: 129px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
  z-index: 1;
}
.subscription__form__decore {
  position: absolute;
  z-index: -1;
  filter: grayscale(1);
  opacity: 0.1;
}
.subscription__form .decore-left {
  bottom: 0;
  left: 25px;
}
.subscription__form .decore-right {
  top: 0;
  left: 75%;
  transform: rotate(270deg) scale(0.73);
}
.subscription__form h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2.0625em;
  color: #5E6282;
  color: #5E6282;
  text-align: center;
}
.subscription__form__inputs {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}
.subscription__form__inputs__email {
  padding: 25px;
  width: 50%;
  font-family: "Montserrat";
  font-size: 0.875em;
  line-height: 17px;
  color: #39425D;
  border-radius: 10px;
  border: none;
}
.subscription__form::before {
  content: url(../images/subscribe.png);
  position: absolute;
  bottom: calc(100% - 60px);
  left: calc(100% - 60px);
}
.subscription__button {
  display: none;
  position: relative;
}
.subscription__button::after {
  content: url(../images/subscribe.png);
  position: absolute;
  left: calc(100% + 25px);
  top: 0;
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .subscription__logos__list__item {
    padding: 0 15px;
  }
  .subscription__form .decore-right {
    left: 70%;
  }
}
@media screen and (max-width: 991.98px) {
  .subscription .crosses {
    display: none;
  }
  .subscription__wrapper h4 {
    display: block;
  }
  .subscription__logos {
    margin-bottom: 80px;
  }
  .subscription__logos__list {
    flex-direction: column;
    height: auto;
    gap: 20px;
  }
  .subscription__logos__list__item {
    justify-content: center;
  }
  .subscription__logos__list__item:last-child {
    display: none;
  }
  .subscription__form {
    display: none;
  }
  .subscription__button {
    display: block;
  }
}
@media screen and ((min-width: 320px) and (max-width: 480.98px)), (max-width: 480.98px) {
  .subscription__button {
    margin-right: 50px;
  }
  .subscription__button::after {
    left: calc(100% + 10px);
  }
}
.footer__wrapper__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.footer__wrapper__flex__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__wrapper__flex__item h2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 2.75em;
  line-height: 66px;
  color: #181E4B;
}
.footer__wrapper__flex__item p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.8125em;
  color: #5E6282;
}
.footer__wrapper__flex__item h4 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.3125em;
  line-height: 124.5%;
  color: #080809;
  margin: 20px 0;
}
.footer__wrapper__flex__item nav ul {
  display: flex;
  flex-direction: column;
}
.footer__wrapper__flex__item nav ul li a {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.125em;
  color: #5E6282;
  text-decoration: none;
}
.footer__wrapper__flex__item nav:first-child ul {
  gap: 12px;
}
.footer__wrapper__flex__item nav:last-child ul {
  gap: 20px;
}
.footer__logo {
  align-self: start;
  gap: 20px;
  width: 20%;
}
.footer__media {
  justify-content: center;
  gap: 85px;
}
.footer__media nav ul {
  flex-direction: row;
}
.footer__media__stores {
  position: relative;
}
.footer__media__stores::before {
  content: "Discover our app";
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.25em;
  color: #5E6282;
  position: absolute;
  left: 0;
  bottom: calc(100% + 15px);
}
.footer__mark p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.875em;
  color: #5E6282;
  text-align: center;
  margin: 80px auto;
}

@media screen and (max-width: 991.98px) {
  .footer {
    background-color: #FFF1DA;
    padding-top: 15px;
  }
  .footer__wrapper__flex {
    flex-direction: column;
    gap: 50px;
  }
  .footer__wrapper__flex__item {
    width: 100%;
  }
  .footer__logo {
    width: 50%;
  }
  .footer__media ul {
    justify-content: center;
  }
  .footer__mark p {
    margin: 50px auto 25px;
  }
}/*# sourceMappingURL=style.css.map */