*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 1200px), ((min-width: 991.99px) and (max-width: 1199.9px)) {
  body {
    background-image: url(../images/decore.png);
    background-repeat: no-repeat;
    background-position: right top;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 740px;
  }
}
@media screen and (min-width: 481px) and (max-width: 767.98px) {
  .container {
    max-width: 420px;
  }
}
@media screen and ((min-width: 320px) and (max-width: 480.98px)), (max-width: 319.98px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
@font-face {
  font-family: "Volkhov";
  src: url("../fonts/Volkhov-Bold.eot");
  src: url("../fonts/Volkhov-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Volkhov-Bold.woff2") format("woff2"), url("../fonts/Volkhov-Bold.woff") format("woff"), url("../fonts/Volkhov-Bold.svg#Volkhov-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Google Sans";
  src: url("../fonts/GoogleSans-Medium.eot");
  src: url("../fonts/GoogleSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GoogleSans-Medium.woff2") format("woff2"), url("../fonts/GoogleSans-Medium.woff") format("woff"), url("../fonts/GoogleSans-Medium.svg#GoogleSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.intro__info p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1em;
  line-height: 30px;
  color: #5E6282;
}

.category__wrapper h2 {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 3.125em;
  line-height: 64px;
  text-align: center;
  text-transform: capitalize;
  color: #14183E;
}

@keyframes flyAnimation {
  from {
    transform: translate(-30%, -60%) rotate(0deg);
  }
  25% {
    transform: translate(240%, -200%);
  }
  50% {
    transform: translate(340%, -300%);
  }
  75% {
    transform: translate(-460%, -300%) rotate(-270deg);
  }
  to {
    transform: translate(-30%, -60%) rotate(-360deg);
  }
}
.header {
  font-family: "Google Sans";
  padding: 37px 0;
}
.header__wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, 1fr 3fr 2fr);
}
.header nav {
  justify-self: center;
}
.header nav ul {
  display: flex;
  align-items: center;
}
.header nav ul li a {
  text-decoration: none;
  color: #212832;
  font-size: 1.0625em;
  display: block;
  transition: transform 0.3s, color 0.3s;
}
.header nav ul li a:hover {
  transform: scale(1.2);
  color: #737373;
}
.header__user-nav #menu {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
.header__pages-menu {
  gap: 50px;
}
.header__user-menu {
  gap: 45px;
  padding: 10px 0;
}
.header__user-menu li a {
  font-weight: 500;
}
.header__user-menu .lang {
  text-transform: uppercase;
}
.header__user-menu .lang::after {
  content: url(../icons/arrow.svg);
  padding-left: 6.5px;
}
.header__user-menu .login-buttons {
  display: flex;
}
.header__user-menu .login-buttons__auth {
  display: flex;
  align-items: center;
  gap: 45px;
}
.header__user-menu .login-buttons label {
  display: none;
}
.header__user-menu .sign-up {
  padding: 10px 20px;
  border: 1px solid #212832;
  border-radius: 5px;
  transition: all 0.3s;
}
.header__user-menu .sign-up:hover {
  border: 1px solid #737373;
  color: #737373;
}
.header__user-menu .dropdown-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.header__user-menu .dropdown-menu .dropdown-items {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
.header__user-menu .dropdown-menu:hover .dropdown-items {
  display: block;
  background-color: #FFF1DA;
}
.header__user-menu .dropdown-menu:hover .dropdown-items li {
  text-align: center;
  padding: 3px 8px;
}
.header__user-menu .dropdown-menu:hover .dropdown-items li:hover {
  background-color: #FFFFFF;
}

@media screen and (max-width: 991.98px) {
  .header {
    padding: 37px 0 45px;
    background-color: #FFF1DA;
  }
  .header__wrapper {
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    grid-template-rows: repeat(1, 1fr 2fr);
    align-items: center;
  }
  .header__logo {
    place-self: center;
  }
  .header__pages-nav {
    grid-area: 2/2/3/3;
  }
  .header__pages-menu {
    flex-direction: column;
    text-align: center;
  }
  .header__pages-menu li a:first-child {
    font-size: 1.875em;
    color: #737373;
  }
  .header__user-nav {
    grid-column: 3;
    align-self: self-start;
    justify-self: center;
    padding: 7px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .header__user-menu {
    flex-direction: row-reverse;
    gap: 10px;
  }
  .header__user-menu .login-buttons {
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    gap: 90px;
    width: 100%;
    padding: 30px 0;
    border: 1px #737373 solid;
    background-color: #d4c8b5;
    border-radius: 5px;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
  }
  .header__user-menu .login-buttons label {
    display: block;
    font-size: 0.875em;
  }
  .header #menu:checked ~ .login-buttons {
    transform: translateY(0);
  }
  .header .burger-menu {
    position: relative;
    width: 30px;
    height: 30px;
  }
  .header .burger-menu span {
    width: 15px;
    height: 2px;
    position: absolute;
    top: 15px;
    left: calc(100% - 7.5px);
    transform: translate(-50%, -50%);
    background-color: #737373;
  }
  .header .burger-menu span:nth-of-type(2) {
    top: 10px;
    left: calc(100% - 11px);
    width: 22px;
  }
  .header .burger-menu span:nth-of-type(3) {
    top: 20px;
    left: calc(100% - 3.5px);
    width: 7px;
  }
  .header .burger-menu .dropdown-menu {
    position: relative;
    display: inline-block;
  }
  .header .burger-menu .dropdown-menu .dropdown-items {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
  }
  .header .burger-menu .dropdown-menu:hover .dropdown-items {
    display: block;
    background-color: #FFF1DA;
  }
  .header .burger-menu .dropdown-menu:hover .dropdown-items li {
    text-align: center;
    padding: 3px 8px;
  }
  .header .burger-menu .dropdown-menu:hover .dropdown-items li:hover {
    background-color: #FFFFFF;
  }
}
@media screen and ((min-width: 320px) and (max-width: 480.98px)), (max-width: 319.98px) {
  .header__wrapper {
    grid-template-columns: repeat(1, 1fr 1fr 1fr 1fr 1fr);
    grid-template-rows: repeat(1, 1fr 2fr);
    align-items: center;
  }
  .header__logo {
    grid-column: 1/3;
  }
  .header__pages-nav {
    grid-area: 3/2/5/5;
  }
  .header__user-nav {
    grid-column: 4/6;
  }
  .header__user-menu .login-buttons {
    gap: 50px;
  }
}
.intro {
  margin-bottom: 130px;
}
.intro .mobile-crosses {
  display: none;
}
.intro__wrapper {
  display: flex;
  padding: 110px 0 90px;
}
.intro__info {
  flex-basis: 50%;
}
.intro__info h3 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.25em;
  line-height: 30px;
  text-transform: uppercase;
  color: #DF6951;
}
.intro__info h1 {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 5.25em;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181E4B;
  margin: 30px 0 25px;
}
.intro__info p {
  width: 80%;
}
.intro__info__buttons {
  margin: 50px 0 0;
  display: flex;
  align-items: center;
  gap: 35px;
}
.intro__info__buttons a {
  background: #F1A501;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  padding: 18px 26px;
  border: 1px #F1A501 solid;
  font-family: "Google Sans";
  font-weight: 500;
  font-size: 1.125em;
  line-height: 23px;
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
}
.intro__info__buttons a:hover {
  color: #F1A501;
  background-color: #FFFFFF;
}
.intro__info__buttons .demo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.intro__info__buttons .demo .player {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #DF6951;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.intro__info__buttons .demo .player::after {
  content: "Play Demo";
  position: absolute;
  white-space: nowrap;
  left: 70px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.0625em;
  line-height: 26px;
  color: #686D77;
}
.intro__image .plane {
  position: absolute;
}
.intro__image .moving-plane {
  left: 50%;
  transform: translate(-30%, -60%);
}
.intro__image .moving-plane:hover {
  animation: flyAnimation linear 3s 1;
}
.intro__image .static-plane {
  z-index: -1;
  right: 5%;
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .intro__image .moving-plane {
    left: 46%;
  }
}
@media screen and (min-width: 1200px), ((min-width: 991.99px) and (max-width: 1199.9px)) {
  .intro__wrapper {
    background-image: url(../images/traveller.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
}
@media screen and (max-width: 991.98px) {
  .intro {
    position: relative;
  }
  .intro .mobile-crosses {
    display: block;
    position: absolute;
    top: 75%;
    right: 0;
    z-index: -1;
  }
  .intro__wrapper {
    padding: 30px 0 0;
  }
  .intro__info {
    flex-basis: 100%;
  }
  .intro__info h3 {
    display: none;
  }
  .intro__info h1 {
    margin: 110px 20px 25px;
    font-size: 3em;
    line-height: 89px;
    letter-spacing: -0.04em;
  }
  .intro__info p {
    display: none;
  }
  .intro__info__buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .intro__info__buttons .demo .player {
    margin-right: 125px;
  }
  .intro__image .moving-plane {
    display: none;
  }
  .intro__image .static-plane {
    z-index: -1;
    left: 0;
  }
}
.category {
  margin-bottom: 120px;
  position: relative;
}
.category .crosses {
  position: absolute;
  right: 0;
}
.category__wrapper {
  text-align: center;
}
.category__wrapper h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.125em;
  line-height: 27px;
  color: #5E6282;
  text-transform: uppercase;
}
.category__wrapper h2 {
  margin: 10px 0 65px;
}
.category__wrapper a {
  display: none;
}
.category__categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
}
.category__card {
  grid-row: 1/3;
  padding: 0 25px;
  box-shadow: none;
  border-radius: 36px;
  display: grid;
  grid-template-rows: repeat(1, 1fr 1fr);
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.1s, background-color 0.1s;
}
.category__card::after {
  content: "";
  opacity: 0;
  width: 100px;
  height: 100px;
  background-color: #DF6951;
  border-radius: 30px 0px 10px;
  position: absolute;
  top: calc(100% - 70px);
  right: calc(100% - 70px);
  z-index: -1;
}
.category__card:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.category__card:hover::after {
  opacity: 1;
  transition: opacity 0.2s;
}
.category__card::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #FFF1DA;
  border-radius: 18px 5px 10px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: rotate(180deg);
}
.category__card:nth-child(2)::before {
  top: 10%;
  left: 30%;
  transform: rotate(90deg);
}
.category__card:nth-child(3)::before {
  top: 10%;
  left: 50%;
  transform: rotate(90deg);
}
.category__card:nth-child(4)::before {
  top: 20%;
  left: 50%;
  transform: rotate(270deg);
}
.category__card__image {
  align-self: center;
  position: relative;
}
.category__card h3 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1, 25em;
  line-height: 27px;
  color: #1E1D4C;
  margin-bottom: 15px;
}
.category__card p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1em;
  line-height: 26px;
  color: #5E6282;
}

@media screen and (max-width: 991.98px) {
  .category .crosses {
    display: none;
  }
  .category__wrapper h4 {
    font-size: 1.25em;
  }
  .category__wrapper h2 {
    margin: 20px 0 15px;
    font-size: 2.5em;
  }
  .category__wrapper a {
    display: inline;
    font-family: "Poppins";
    font-size: 1.25em;
    line-height: 45px;
    letter-spacing: 0.2px;
    color: #737373;
    text-decoration: none;
  }
  .category__categories {
    gap: 10px 0;
    margin-top: 10px;
  }
  .category__card {
    grid-row: 1/3;
  }
  .category__card:nth-child(n+1) {
    grid-column: 2/4;
  }
  .category__card:nth-child(1) {
    grid-row: 1/2;
  }
  .category__card:nth-child(2) {
    grid-row: 3/4;
  }
  .category__card:nth-child(3) {
    grid-row: 5/6;
    display: none;
  }
  .category__card:nth-child(4) {
    grid-row: 7/8;
    display: none;
  }
  .category__card:nth-child(2)::before {
    top: 13%;
    left: 35%;
    transform: rotate(270deg);
  }
  .category__card:nth-child(3)::before {
    top: 15%;
    left: 50%;
  }
  .category__card:nth-child(4)::before {
    top: 20%;
    left: 50%;
  }
}
@media screen and ((min-width: 320px) and (max-width: 480.98px)), (max-width: 319.98px) {
  .category__card {
    padding: 0 10px;
  }
}/*# sourceMappingURL=style.css.map */