@keyframes flyAnimation {
    from {
        transform: translate(-30%, -60%) rotate(0deg);
    }

    25%{
        transform: translate(240%, -200%);
    }

    50%{
        transform: translate(340%, -300%);
    }

    75%{
        transform: translate(-460%, -300%) rotate(-270deg);
    }

    to {
        transform: translate(-30%, -60%) rotate(-360deg);
    }
}
